body {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'oswald', sans-serif;
	font-variant: small-caps;
	font-weight: lighter;

}
